# Print Statement

In [16]:
print("Hello World")

Hello World

# Data types and %whos use

In [10]:
a = 5
b = "Ryuzin"
c = True
d = 0.55
%whos

Variable   Type     Data/Info
-----------------------------
a          int      5
b          str      Ryuzin
c          bool     True
d          float    0.55

# Arithmetic Operators

In [9]:
a  = 5
b  = 6
print("a + b = ", a+b)
print("a - b = ", a-b)
print("a * b = ", a*b)
print("a / b = ", a/b)
print("a**b = ", a**b)
print("a % b = ", a%b)
print("a // b = ", a//b)

a + b =  11
a - b =  -1
a * b =  30
a / b =  0.8333333333333334
a**b =  15625
a % b =  5
a // b =  0

# Boolean Operators and Comparison

In [13]:
a = True
b = False
print((a and b) or (a and b))

False

In [15]:
x = 5
y = 6
print("x > y", x>y)
print("x < y", x<y)
print("x = y", x==y)
print("x >= y", x>=y)
print("x <= y", x<=y)
print("x != y", x!=y)

x > y False
x < y True
x = y False
x >= y False
x <= y True
x != y True

# TAKING USER INPUT AND USE OF .FORMAT

In [17]:
name = str(input("Enter name:"))
ign = str(input("IGN : "))
years = int(input("No of years playing :"))
print("This guy names {0} with ign {1} is playing this game for {2} years".format(name,ign,years))

Enter name:mani
IGN : ryu
No of years playing :3
This guy names mani with ign ryu is playing this game for 3 years

# If Conditions

In [18]:
a = int(input("No 1:"))
b = int(input("No 2:"))

if(a > b):
    print("a > b")
elif (a == b):
    print("a = b")
else:
    print("a < b")

No 1:23
No 2:24
a < b

# While loop

In [19]:
i = 10
while(i > 0):
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

In [20]:
n = 20
i = 2
while(i < 25):
    if(n % i == 0):
        print("Not Prime no within 25")
        break
    else:
        i += 1

Not Prime no within 25

# For Loop

In [21]:
for i in range (10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [25]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [26]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [41]:
for i in range(1,10):
    print(i*i)

1
4
9
16
25
36
49
64
81

In [40]:
n = int(input("Enter the no "))
check = 1
for i in range(2,n):
    if(n % i == 0):
        print("Not Prime")
        check = 0
        break
if(check == 1):
    print("Prime")

Enter the no 23
Prime

# Data Structure

# List

In [2]:
league = ["Ryujin", 21,"Zilean"]
print(league[2])

Zilean

In [5]:
league.append(24)
print(league)

['Ryujin', 21, 'Zilean', 24]

In [6]:
league.insert(2,"Yasou")
print(league)

['Ryujin', 21, 'Yasou', 'Zilean', 24]

In [7]:
league2 = league.copy()
print(league2)

['Ryujin', 21, 'Yasou', 'Zilean', 24]

# Tuple

In [8]:
lol = ("riot", 24,"league", 9.02)
print(lol[3])
print(lol[-2])

9.02
league

In [11]:
print(lol[1])

24

# Set

In [19]:
set1 = {"ryujin",24,"ryujin",32,"yasou","akali"}
print(set1)
set2 = set1.copy()

{32, 'akali', 'yasou', 24, 'ryujin'}

In [20]:
print(set2)

{32, 'akali', 'yasou', 24, 'ryujin'}

# Dict

In [21]:
world1 = {"code":"myname","age":21,"rnce":"dnce"}
print(world1)

{'code': 'myname', 'age': 21, 'rnce': 'dnce'}

In [23]:
print(world1["code"])

myname

In [24]:
world1["new"] = "world"
print(world1["new"])

world

# Functions

In [25]:
def table(n):
    list1 = []
    for i in range(1,11):
        list1.append(i*n)
    print(list1)

n = int(input("Enter the no: "))
table(n)

Enter the no: 9
[9, 18, 27, 36, 45, 54, 63, 72, 81, 90]

# String

In [29]:
n = "Raven Code"
print(len(n))
print(n[0:8])
print(n[:6])
print(n[:-1])
print(n[::-1])

10
Raven Co
Raven
Raven Cod
edoC nevaR

In [36]:
r = " Yasou is Trash "
d = r.strip()
print(d)
d = r.split("is")
print(d)
print(r.upper())
print(r.lower())
print(r.capitalize())
print(r.replace("is","was"))

Yasou is Trash
[' Yasou ', ' Trash ']
 YASOU IS TRASH
 yasou is trash
 yasou is trash
 Yasou was Trash

# End of Basic Python Syntax ; NOT INCLUDED SWITCH OPERATION